{% extends 'base.html' %}

{% set mytitle="dang-streamgraph" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<style>
    img.index_img {
        width: 500px;
        border-style: solid;
        border-color: #ddd;
        border-width: thin;
    }
    a.index_btn {
        margin-top: 10px;
    }
    div.row {
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>

<div class="container">
<div class="row">



<h2><b>Welcome!</b></h2>

<p class="lead">This page contains experiments with D3, Angular, and Pelican.</p>
<p class="lead">Let's start with a simple Angular.js Hello World:</p>
<p><a class="index_btn btn btn-large btn-success" href="hello/">Hello Angular World</a></p>



</div>
<div class="row">



<p>&nbsp;</p>

<h2><b>Streamgraph</b></h2>

<p class="lead">This is a simple streamgraph example that demonstrates the use 
of the basic components of a streamgraph: area charts, stacking, and smoothing.
This is implemented within the Angular.js framework using an Angular directive.
This makes it possible to use HTML code like <code>&lt;stream-chart&gt;&lt;/stream-chart&gt;</code>
and have it translated into Javascript code that assembles the data and 
builds the D3 bar chart.
</p>
<p>
<img src="{{SITEURL}}/images/stream.png" class="index_img img-responsive" />
</p>
<p>
<a class="index_btn btn btn-large btn-success" 
    href="basic/basic.html">Streamgraph</a></p>



</div>


{% endblock %}


