{% extends 'base.html' %}

{% set mytitle="Streamgraph Chart" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<link href="{{ SITEURL }}/basic/basic.css" rel="stylesheet" stype="text/css" />

<div ng-app="streamgraphApp">

    <div ng-controller="StreamgraphController" ng-init="initialize()">

        <div class="row">
            <div class="col-md-12" id="head">
                <streamgraph-head></streamgraph-head>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="chart">
                <streamgraph-chart></streamgraph-chart>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12" id="text">
                {% include 'basic.md' %}
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/basic/basic_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/basic/basic_directives.js"></script>

{% endblock %}


